@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

@import url("reset.css");

/*

FONTS

.orbitron-bold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.anuphan-regular {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

COLORS

dark-grey: #0B0704
black: #000000
white: #FFFFFF
pink: #E62077
yellow: #FFD200
blue: #29D3C6

*/

html {
    font-size: 10px;
}

a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .hero-p {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    width: 333px;
    margin-bottom: 24px;
    margin-left: 18px;
    color: #FFFFFF;
    text-align: center;
  }

  .btn-register {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #29D3C6;
    background-color: #0B0704;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #29D3C6;
  }

  .btn-tickets {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    background-color: #E62077;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-left: 35px;
  }

  .btn-event {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    background-color: #FFD200;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
  }

  .btn-purchase {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    background-color :#29D3C6;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;

  }

  .h1-yellow {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFD200;
    font-size: 40px;
    text-align: center;
    padding-top: 62px;
    margin-bottom: 20px;
  }

  .h1-black {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 34px;
    margin-bottom: 31px;
    width: 333px;
    text-align: center;
  }

  .h3-black {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    line-height: 2rem;
    margin-left: 34px;
    margin-right: 54px;
    text-align: center;
  }

  .black-p {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    line-height: 2rem;
    width: 292px;
    margin-left: 21px;
    text-align: center;
  }

  .white-p {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 2rem;
    text-align: center;
  }

  .h3-pink {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #E62077;
    font-size: 20px;
    text-align: center;
  }

  .h3-blue {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #29D3C6;
    font-size: 20px;
    text-align: center;
  }

  .h3-yellow {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFD200;
    font-size: 20px;
    text-align: center;
  }

  .h1-blue {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #29D3C6;
    font-size: 64px;
  }

  .tickets-sub-yellow {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color :#FFD200;
    font-size: 20px;
  }

  .tickets-sub-pink {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #E62077;
    font-size: 20px;
  }

  .tickets-sub-blue {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #29D3C6;
    font-size: 20px;
  }

  .tickets-p {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 20px;
  }

  .h2-pink {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #E62077;
    font-size: 20px;
    text-align: center;
  }

  .h2-blue {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#29D3C6;
    font-size: 20px;
    text-align: center;
  }

  .h2-yellow {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFD200;
    font-size: 20px;
    text-align: center;
  }

  .logo-nav {
    height: 125px;
    width: 125px;
    margin-left: 13px;
  }

  nav {
    background-color: #0B0704;
    height: 177px;
    width: 393px;
  }

  nav ul {
    display: none;
  }

  .hero-container {
    height: 805px;
    width: 393px;
    background-image: url("images/mobile-hero-bckgrnd.png");
    background-repeat: no-repeat;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    height: 335px;
    width: 750px;
  }

  .hero-banner-text {
    width: 356.7px;
    height: 106px;
    margin-top: 230px;
    margin-left: 18px;
  }

  .hero-btn {
    margin-left: 115px;
    margin-top: 24px;
  }

  .events-container {
    height: 2403px;
    width: 393px;
    background-image: url("images/mobile-events-bckgrnd.png");
    background-repeat: no-repeat;
    margin-top: -55px;
  }

  .card-container {
    height: 421px;
    width: 333px;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    border-radius: 15px;
  }

  .events-cards {
    width: 1229px;
    margin-left: -10px;
  }

  .events-cards li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

 .schedule-card {
    height: 152px;
    width: 291px;
    background-color: #0B0704;
    border-radius: 15px;
    padding-top: 30px;
}

  .schedule-container {
    display: flex;
    height: 88px;
    width: 1191px;
}

  .schedule-container ul {
    width: 1186px;
    display: flex;
    flex-direction: wrap;
}

html {
    width: 1440px;
}

@media (min-width: 1000px) {
    .logo-nav {
        height: 175px;
        width: 175px;
        margin-left: 75px;
      }
      nav {
        display: flex;
        height: 180px;
        width: 1440px;
        background-color: #0B0704;
        flex-direction: row;
        align-items: center;
      }

      nav ul {
        display: flex;
        height: 54px;
        width: 470px;
        align-items: center;
        justify-content: space-bewteen;
        margin-left: 700px;
      }

      .hero-container {
        height: 820px;
        width: 1440px;
        background-image: url("images/hero-img.jpg");
        background-repeat: no-repeat;
      }

      .hero-content {
        display: flex;
        flex-direction: column;
        height: 335px;
        width: 750px;
      }

      .hero-banner-text {
        width: 750px;
        height: 214px;
        margin-top: 230px;
        margin-left: 69px;
      }

      .hero-p {
        font-family: "Anuphan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 3rem;
        text-align: center;
        width: 726px;
        margin-bottom: 25px;
        margin-left: 81px;
      }

      .btn-event {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #000000;
        background-color: #FFD200;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
      }

      .events-container {
        height: 1244px;
        width: 1440px;
        background-image: url("images/events-bckgrnd.png");
        background-repeat: no-repeat;
        margin-top: -55px;
      }

      .h1-yellow {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #FFD200;
        font-size: 64px;
        text-align: center;
        padding-top: 100px;
        margin-bottom: 20px;
      }

      .card-container {
        height: 450px;
        width: 380px;
        background-color: #FFFFFF;
        padding-bottom: 38px;
        border-radius: 15px;
      }

      .events-cards {
        display: flex;
        flex-wrap: wrap;
        width: 1229px;
        margin-left: 50px;
      }

     .events-cards li {
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-bottom: 20px;
    }
    
     .bottom-cards {
        display: flex;
        flex-direction: row;
        margin-left: 200px;
    }

    .h1-black {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #000000;
        font-size: 64px;
        margin-left: 75px;
        margin-top: 69px;
        margin-bottom: 43px;
        text-align: left;
      }

      .h3-pink {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #E62077;
        font-size: 20px;
      }
    
      .h3-blue {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #29D3C6;
        font-size: 20px;
      }
    
      .h3-yellow {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #FFD200;
        font-size: 20px;
      }

      .white-p {
        font-family: "Anuphan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 2rem;
      }

      .black-p {
        font-family: "Anuphan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #000000;
        font-size: 16px;
        line-height: 2rem;
        width: 292px;
        margin-left: 34px;
        margin-right: 54px;
      }

      .h3-black {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #000000;
        font-size: 20px;
        line-height: 2rem;
        margin-left: 34px;
        margin-right: 54px;
      }

      .schedule-card {
        height: 155px;
        width: 360px;
        background-color: #0B0704;
        border-radius: 15px;
        padding-top: 30px;
        padding-left: 34px;
    }
    
      .schedule-container ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 22px;
    }
}